.articleCard{
  /*Flex Box*/
  display: flex;

  /*Layout*/
  /*responsive layout stuff*/
  margin: 0 auto; /*this is making the top and bottom margins 0px and making the left and right margins auto. its top&bottom right&left. if all 4 values its top right bottom left*/
  max-width: 1080px; /*making the max width 1080px; so that it doesnt go over on a bigger screen*/
  width:100%; /*making sure that the object is as wide as the screen*/
}
.articleCard__image{

}

.articleCard__text{
  
}